*{
  margin:0;
  padding:0;

}

:root {
  --primary-color:#edbf33;
 
}

body {
  font-family: 'Kalam', cursive;
  
  box-sizing: border-box;
  
 
  
}

.navigation {
    background-color: var(--primary-color);
    padding: 2rem;
    color: aliceblue;
    
    

    
  }






#input-text{
width:80%;
height:10vh;
display:block;
margin:1rem;
padding:1rem;
border: 5px solid var(--primary-color);

}

#output{
    
  border: 5px solid var(--primary-color);
    width: 80%;
    height: 10vh;
    margin: 1rem;
    padding: 1rem;
}



h1{
    text-align:center;
    }

#button-translated{
    background-color: var(--primary-color);
    margin: 1rem;
    padding: 1rem;
    border-style: none;
    border-radius: 1rem;
    font-weight: bold;
    color:white;
    font-size: large;
    border:2px solid white ;
    
    
}
 p{
    padding:1rem;
 }


main{
    display:block;
    padding:1rem;
    max-width:600px;
    
    margin:auto;
   
    
}

footer {
    background-color: var(--primary-color);
    padding: 2rem;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: aliceblue;
    font-weight: bold;
    font-size: larger;
    
  }
  
    
    

