*{
  margin:0;
  padding:0;

}

:root {
  --primary-color:#edbf33;
 
}

body {
  font-family: 'Kalam', cursive;
  margin-left: 34px;
  margin-right: 34px;
 
  
}

.navigation {
    background-color: var(--primary-color);
    padding: 3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    
  }






#input-text{
width:80%;
height:10vh;
display:block;
margin:1rem;
padding:1rem;

}

#output{
    
    border: 1px solid black;
    width: 80%;
    height: 10vh;
    margin: 1rem;
    padding: 1rem;
}



h1{
    text-align:center;
    }

#button-translated{
    background-color: var(--primary-color);
    margin: 1rem;
    padding: 1rem;
    border-style: none;
    border-radius: 1rem;
    font-weight: bold;
    
    
}
 p{
    padding:1rem;
 }


main{
    display:block;
    padding:1rem;
    max-width:600px;
    
    margin:auto;
}

footer {
    background-color: var(--primary-color);
    padding: 3rem;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
  }
  
    
    

